@model ActorLibrary.Models.Actor

@{
    ViewBag.Title = "AddAudioFiles";
}

<h1>Legg til stemmeprøver for @Model.FullName</h1>

<div class="row">

    @{int counter = 1;}

    @foreach (var file in Model.VoiceTests)
    {
        <div class="col-md-4 voicetest-box">
            <p>@file.VoiceTestTitle.ToString()</p>
            <div class="audio-container">
                <audio controls>
                    <source src="@file.VoiceTestUrl" type="audio/mp3" />
                </audio>
            </div>
        </div>

        if (counter % 3 == 0)
        {
            <div class="row"></div>
        }

        counter++;
    }
</div>


@using (Html.BeginForm("AddAudioFiles", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ActorId)

        <div class="form-group">
            <div class="col-md-12">
                <input type="text" class="input-box" placeholder="Stemmeprøvetittel" name="title" id="audioTitle" />
                <input type="text" class="input-box" placeholder="Kommentar" name="comment" id="comment" />
            </div>
            <br />
            <div class="col-md-12">

                <input type="file" class="btn btn-default" placeholder="Velg stemmeprøve" name="audioFile" id="audioFile" value="Velg stemmeprøve" />
                <strong style='color:red;'>@ViewBag.Error</strong>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Legg til ..." class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbake til oversikt", "Index", "Home", null, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
        $('video,audio').mediaelementplayer(
            {
                audioWidth: "100%",
                startVolume: 0.8,
                pauseOtherPlayers: true,
                enableKeyboard: true
            }

            );
    </script>*@
}

