@model ActorLibrary.Models.ActorViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details Home</h2>
<h3>@Html.DisplayFor(model => model.Actor.FullName)</h3>
<div>
    
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Actor.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Actor.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Actor.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Actor.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Actor.BirthDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Actor.BirthDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Actor.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Actor.Age)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Actor.Mail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Actor.Mail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Actor.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Actor.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Actor.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Actor.Address)
                </dd>

                
                <dt>
                    Kjønn:
                </dt>

                <dd>
                    @ViewBag.GenderName
                </dd>

            </dl>
        </div>
        <div class="col-md-4">
            <strong>Kommentar:</strong>
            @Html.DisplayFor(model => model.Actor.Comment)
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="@Model.Actor.ImgUrl" alt="@Model.Actor.FullName" />
        </div>
        
    </div>
    <div class="row">
        @foreach (var file in Model.Actor.VoiceTests)
        {
            <div class="col-md-4">
                @file.VoiceTestTitle.ToString() -
                <audio controls>
                    <source src="@file.VoiceTestUrl" type="audio/mp3" />
                </audio>
            </div>
        }
    </div>

</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Actor.ActorId }) |
    @Html.ActionLink("Tilbake", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('video,audio').mediaelementplayer(
            {
                audioWidth: "100%",
                startVolume: 0.8,
                pauseOtherPlayers: true,
                enableKeyboard: true
            }
            );
    </script>
}
