@model IEnumerable<ActorLibrary.Models.Actor>

@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>Skuespillerarkiv</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @*@Html.ActionLink("Ny skuespiller", "Create", "Home", null, new { @class = "btn btn-default" })*@
    </div>
    <br />
    <div class="row">
        @{int counter = 1;
            string alternateBgr = "";}

        @foreach (var item in Model)
        {
            if (counter % 2 == 0)
            {
                alternateBgr = "alternate";
            }
            else
            {
                alternateBgr = "";
            }

            <div class="col-md-4 @alternateBgr actor-box">
                <div class="profile-img">
                    
                    <img class="img-responsive" src="@item.ImgUrl" alt="Profil" />
                </div>
                <div class="col-md-12">
                    <h2>@Html.ActionLink(item.FullName, "Details", new { id = item.ActorId })
                        @*@Html.DisplayFor(modelItem => item.FullName)*@
                    </h2>
                    <br />
                    

                    <ul class="list-group">

                        @foreach (var vt in item.VoiceTests.Take(3))
                {

                            <li class="list-group-item">
                                @Html.DisplayFor(vtItem => vt.VoiceTestTitle)
                                <audio controls>
                                    <source src="@vt.VoiceTestUrl" type="audio/mp3" />
                                </audio>

                            </li>

                        }
                        <li class="list-group-item">@Html.ActionLink("Se flere stemmeprøver ...", "Details", "Home", new { id = item.ActorId }, new { @class = "btn btn-default" })</li>
                    </ul>

                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Detaljer", "Details", "Home", new { id = item.ActorId }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Legg til stemmeprøve", "AddAudioFiles", "Actor", new { id = item.ActorId }, new { @class = "btn btn-default" })

                    </p>
                </div>
            </div>

            if (counter % 3 == 0)
            {
                <div class="row"></div>
            }

            counter++;

        }
    </div>



    @section scripts {
        <script>
            $('video,audio').mediaelementplayer(
                {
                    audioWidth: "100%",
                    startVolume: 0.8,
                    pauseOtherPlayers: true,
                    
                    enableKeyboard: true
                }

                );
        </script>
    }
</div>