@model IEnumerable<ActorLibrary.Models.Actor>

@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>Skuespillerarkiv</h1>
</div>

<div class="row">
    <div class="col-md-12">

    </div>
    <br />
    @using (Html.BeginForm("Index", "Home"))
    {
        @Html.DropDownList("sortBy", new SelectList(ViewBag.sortList, "Value", "Text"), "Sorter etter ...", new { @onchange = "this.form.submit();" })
    }

    <br />
    <div class="row">
        @{int counter = 1;
            string alternateBgr = "";}

        @foreach (var actor in Model)
        {
            if (counter % 2 == 0)
            {
                alternateBgr = "alternate";
            }
            else
            {
                alternateBgr = "";
            }

            <div class="col-md-4 @alternateBgr actor-box">
                <div class="profile-img">

                    <img class="img-responsive" src="@actor.ImgUrl" alt="Profil" />
                </div>
                <div class="col-md-12">
                    <h2>
                        @Html.ActionLink(actor.FullName, "Details", new { id = actor.ActorId })

                </h2>
                <br />
                    @if (actor.VoiceTests.Count > 0)
                    {

                <ul class="list-group">

                    @foreach (var vt in actor.VoiceTests.Take(3))
                    {

                        <li class="list-group-item">
                            @Html.DisplayFor(vtItem => vt.VoiceTestTitle)
                            <audio controls>
                                <source src="@vt.VoiceTestUrl" type="audio/mp3" />
                            </audio>

                        </li>

                    }

                    <li class="list-group-item">@Html.ActionLink("Se flere stemmeprøver ...", "Details", "Home", new { id = actor.ActorId }, new { @class = "btn btn-default" })</li>
                </ul>
                    }
                    else
                    {
                        <p>Det er ikke lagt til noen stemmeprøver.</p>
                        <p>Legg til noen @Html.ActionLink("her.", "AddAudioFiles", new { id = actor.ActorId }) </p>
                    }
                

                <p>
                    @Html.ActionLink("Rediger", "Edit", new { id = actor.ActorId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Detaljer", "Details", "Home", new { id = actor.ActorId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Legg til stemmeprøve", "AddAudioFiles", "Home", new { id = actor.ActorId }, new { @class = "btn btn-default" })

                </p>
            </div>
        </div>

            if (counter % 3 == 0)
            {
                <div class="row"></div>
            }

            counter++;

        }
    </div>



    @section scripts {
        <script>
            $('video,audio').mediaelementplayer(
                {
                    audioWidth: "100%",
                    startVolume: 0.8,
                    pauseOtherPlayers: true,

                    enableKeyboard: true
                }

                );
        </script>
    }
</div>