<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The description of my page" />
    <title>@ViewBag.Title - Skuespillerarkiv</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/dropzonescss")
    @RenderSection("styles", required: false)

    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Heim", "Index", "Home")</li>

                    @*<li>@Html.ActionLink("Skuespillerarkiv", "Index", "Actor")</li>*@
                    <li>@Html.ActionLink("Ny skuespiller", "Create", "Home")</li>
                    <li>@Html.ActionLink("Rediger dialekter", "EditDialect", "Actor")</li>
                </ul>

                @using (Html.BeginForm("Search", "Home", null, FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                {
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="searchString">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Actor Library</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)
</body>
</html>
